* {
  margin: 0;
  padding: 0;
}

html{
  min-width: inherit;
  overflow-x: hidden;
  overflow-y: inherit;
}

body{
  font-family: 'Poppins', sans-serif !important;
  background-color: #ffffff !important;
  overflow-x: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 580px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 30px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  top: 17%;
  color: white;
  width: 5%;
  position: absolute;
  left: 90%;
  z-index: 12;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  overflow-x: hidden;
  width: 100%;
}

.modal-header h2{
  position: absolute;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  top: 15%;
}

.img-header{
  max-width: none;
  width: 680px;
  top: -10px;
  height: 180px;
  position: relative;
  left: -15%;
}

.modal-body {
  padding: 2px 16px;
  margin-bottom: 5%;
}

.modal-body p{
  color: #2a2a2a;
  font-size: 18px;
  font-weight: bold;
  padding: 1% 0;
}

.modal-body input{
  width: 550px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 1px #2a2a2a;
  padding: 15px;
  font-size: 14px;
  top: 5%;
}

.modal-body button{
  width: 30%;
  height: 45px;
  border-radius: 20px;
  background-color: #7547e8;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  right: 2%;
  bottom: 10%;
  font-weight: bold;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.3rem;
}

.header {
  width: 100%;
  position: absolute;
  margin-top: 40px;
  z-index: 10;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header .header-logo {
  margin-left: 5%;
  float: left;
  width: 10%;
  top: 0;
  z-index: 999
}

.cookies-message{
  max-width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 0;
    display: none;
    right: 0;
}
.cookie-container{
  display: flex;
  padding: 2% 5%;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(7.1px);
  backdrop-filter: blur(7.1px);
  background-color: #f6f6f6;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  left: 45%;
  width: 55%;
}
.cookie{
  position: relative;
  top: 8px;
  left: 3%;
}
.cookie-img{
width: 40px;
}
.cookie-text{
  padding: 0 6%;
}
.cookie-text .title{
  font-size: 14px;
  margin-bottom: inherit;
  color: #757575;
}
.cookie-text p{
  font-size: 12px;
  margin-bottom: 5%;
}
.cookie-button{
  text-align: center;
  display: block;
  margin: 0 auto;
    background-color: #fff;
  width: 274px;
  height: 44px;
  border-radius: 22px;
  border: solid 2px #757575;
  cursor: pointer;
  outline: none;
}

.header .header-menu {
  float: right;
  margin-right: 5%;
}

.banner {
  top: 0;
  position: relative;
}

.banner .banner-image {
  position: relative;
}

.banner .banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: block;
  top: 25%;
  bottom: 0;
}

.banner-content h1 {
  color: #fff;
}

.button-content .button-arrow {
  width: 3%;
  bottom: -40%;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  position: absolute;
}

.button-arrow {
  animation: bounce 1s ease infinite;
  animation: bounce 1s ease infinite alternate;
  animation: bounce 1s ease infinite alternate;
}

.bold {
  font-weight: bold !important;
}

@keyframes bounce {
  from {top: 106px;} 50% {top: 86px;} to {top: 106px;}
  from {top: 106px;} to {top: 86px;}
  from {transform: translateY(0);} to {transform: translateY(-20px);}
}

.wording {
  width: 537px;
  height: 245px;
  /*object-fit: contain;*/
}

.container .columns {
  padding: 5% 0;
}

.column{
	flex-basis: inherit;
	width: 100%;
}

.column .visage-image {
  padding-top: 20px;
}

div.column.text-element {
  padding: 8% 0 0;
}

.banner .contact-content {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: 70px;
  line-height: 70px;
  position: absolute;
  top: 0;
  margin-top: 40px;
  z-index: 999;
}

h1{
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

visage-image{
  max-width: none;
  width: 100%;
}

img{
  max-width: none;
  width: 100%;
}

input{
  width: 562px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 1px #2a2a2a;
  padding: 15px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

input:focus{
  outline: none;
}

.button-input{
  color: #fff;
  position: relative;
  left: -180px;
  width: 200px;
  height: 46px;
  border-radius: 22.5px;
  background-color: #7547e8;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  top: 1px;
  font-family: 'Poppins', sans-serif;
}

.button-input:hover{
  background-color: #fff;
  color: #7547e8;
}

p{
  color: #757575;
}

.left p{
  width: 37%;
}

.left{
  padding-left: 5%;
}

.right{
    padding-right: 5%;
    position: relative;
    right: 0;
}

h3{
  margin-top: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.button.is-primary{
  background-color: #7547e8;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 0 rgba(117, 71, 232, 0.45);
  font-size: 18px;
  color: #ffffff;
  padding: 10px 45px;
  text-decoration: none;
 /* position: absolute;*/
}

.button:hover.is-primary:hover{
  background-color: #fff;
  color: #7547e8;
}

.all-button {
  width: 100%;
  position: relative;
  margin-left: 2%;
    z-index: 10;
}

.all-button .button.is-primary{
  font-size: 0.9em;
  margin: 4px;
}

.btn-back{
  width: 19px;
  position: absolute;
  display: flex;
  margin: 3px 19px;
}

.footer {
	background-color: inherit;
}

.block.footer{
    padding: 3% 0;
    max-height: 205px;
}

.foot{
  padding: 1% 0;
  background-image: url(../img/footer-l.svg);
  background-color: #ffebd6;
  max-height: 60px;
}

.footer .title{
  text-align: center;
    margin-bottom: inherit;
}

.rs{
  display: flex;
  width: 100%;
  justify-content: center;
}

.marg{
  margin: 0 3%;
}
.marg a{
  color: dimgrey;
  text-decoration: none;
}
.marg a:hover{
  color: grey;
  text-decoration: none;
}

.footer{
  padding: inherit;
  margin-bottom: inherit !important;
}

.header-ML h1{
  color: white;
    position: relative;
    bottom: 25px;
}

.header-ML .ml{
  width: 100%;
    position: absolute;
    padding: 2% 0;
}

.icon .fa-angle-left{
  margin-left: 2%;
}

.text-explain{
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-explain p{
  color: #000;
}

.text-explain a{
  text-decoration: none;
  color: #000;
}

.text-explain .t-explain{
  width: 70%;
  margin: 5%;
}

.t-explain h2{
  padding-top: 2%;
  color: #7547e8;
}

.t-explain h3{
  color: #f86eb8;
}

.btn-back-responsive{
  display: none;
}

li{
  list-style: none;
}

.parent{
  display: flex;
    justify-content: center;
  margin-bottom: 4%;
}

.btn-RS{
  display: block;
  background: white;
  width: 260px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 8%;
}

/*  --Partie google connect--  */

.google{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-img{
  margin-right: 5%;
  width: 8%;
}

/*  --Partie Facebook connect--  */

.facebook{
  background: #3c5a99;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.right span{
    font-weight: bold;
}

.Text-f{
  color: white;
}

/*  --Partie twitter connect--  */

.twitter{
  background: #00aced;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.Text-t{
  color: white;
}

/*  --Partie mail--  */

.email{
  background: #757575;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.email-img{
  width: 9%;
  margin-right: 15px;
}

.Text-m{
  color: white;
}

@media screen and (max-width: 1022px) {
  h1{
    font-size: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .cookie-container{
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 915px) {
  .button.is-primary {
    display: none;
  }

  .parent{
    display: block;
  }

  .btn-back-responsive {
    display: block;
    width: 4%;
    position: absolute;
    margin: 0 3%;
  }
    .header-ML h1{
        bottom: 40px;
        font-size: 1.2rem;
    }

  .btn-RS{
    margin: 7% auto;
  }

  .header .header-logo{
    width: 35%;
    margin-top: 5%;
  }

  .button-content .button-arrow {
    width: 8%;
  }

  .banner .banner-image{
    width: 145vw;
    position: relative;
    right: 20%;
  }

  .button-input{
    width: 150px;
    height: 29px;
    font-size: 14px;
    top: 0;
    left: 0;
  }
  input{
    width: 258px;
    height: 29px;
  }

  div.column.text-element{
    padding: 8% 8% 0;
  }
  .left p{
    width: 100%;
  }

  h1{
    font-size: 2rem;
    padding-top: 5%;
  }
  .block.footer{
    padding-top: 8%;
  }
  .header {
    margin-top: inherit;
  }

  .text-explain .t-explain{
    width: 90%;
    margin: 5%;
  }

}

@media screen and (max-width: 600px) {
  .modal-content{
    width: 80%;
  }
  .modal-header h2{
    font-size: 18px;
  }
  .img-header{
    height: 135px;
    left: -20%;
  }
  .modal-body p{
    font-size: 0.9rem;
    left: 30%;
    margin-top: 5%;
  }
  .modal-body button{
    position: relative;
    width: 45%;
    left: 25%;
    margin-top: 5%;
  }
  .modal-body input{
    width: 95%;
  }
}

@media screen and (max-width: 540px) {
  .header .header-logo{
    width: 25%;
  }

  h1{
    font-size: 1.5rem;
  }
  div.column.text-element{
    padding: 8% 10% 0;
  }
  .block.footer{
    padding-top: 8%;
  }
}

@media screen and (max-width: 490px) {
  .cookie-button{
    width: 240px;
    height: 35px;
  }

  .cookie{
    left: 0;
    display: none;
  }

  .cookie-text .title{
   font-size: 12px;
  }

  .cookie-text p{
    font-size: 11px;
    line-height: 20px;
  }
  .cookie-text{
    padding: 0 4%;
  }
  .title{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem !important;
  }
    .t-explain h2{
        font-size: 0.9rem;
    }

 p{
    font-size: 0.8rem;
  }
  .rs img{
    width: 70%;
  }
  .footer .title{
    margin-bottom: inherit !important;
  }
  .block.footer{
    height: 150px;
  }
    .header-ML h1{
        bottom: 0;
        top: -23px;
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 472px) {
  .button-input{
    top: 15px;
  }
}

@media screen and (max-width: 320px) {
  h1{
    font-size: 1.6rem;
    top: -85px;
  }
  .ml .title{
    font-size: 1.2em;
  }
  .header-ML{
    width: 100%;
    position: relative;
  }
  .foot .marg{
    margin: 4% 0%;
    padding: 1% 1%;
    font-size: 0.8em;
  }
}
